* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(38, 37, 37);
}

header {
    background-image: url(../assets/pexels-victorfreitas-949131.jpg);
    height: 350px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    
    }

h1 {
    text-align: center;
    font-size: xxx-large;
    font-weight: bolder;
    padding-top: 250px;
    padding-right: 750px;
    color: rgb(240, 236, 236)
}

main {
    background-color: rgb(38, 37, 37);
    text-align: center;
    padding-bottom: 5rem;
}

h3 {
    text-align: center;
    padding-top: 2rem;
    font-size: larger;
    color: rgb(234, 234, 234);
}

button {
    background-color: rgb(74, 10, 10);
    color: rgb(234, 234, 234);
    border-radius: 15px;
    border: 0.5px solid rgb(35, 32, 32);
    margin: 2rem;
    padding-top: 0.75rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    padding-bottom: 0.75rem;
    cursor: pointer;
}

button:hover {
    background-color: rgb(104, 10, 10);
}

#resultat {
    color: rgb(232, 237, 241);
    font-size: x-large;
    font-weight: bolder;
}